<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>321073263735-20fh7e06hsmt7seh38l3lp70ufb12dji.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321073263735-20fh7e06hsmt7seh38l3lp70ufb12dji</string>
	<key>API_KEY</key>
	<string>AIzaSyAwUA7YBt9yppC8mDOMNcVn0WXEQl8v6cM</string>
	<key>GCM_SENDER_ID</key>
	<string>321073263735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.getx.app.db.flutterFirebase</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-99937</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-99937.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321073263735:ios:631c729b6fce4768fd8272</string>
</dict>
</plist>